table td {
  background: #eeeeee;
  padding: 4px;
}

table tr:ntd-child(odd) td {
  background: #cccccc;
}

.writing-mode {
  background: #ccc;
  width: 1000px;
}

.writing-mode-test {
  background: #aaa;
  width: 1000px;
  writing-mode: vertical-rl;
} 

.btn {
  background: green;
  padding: 10px;
  line-height: 30px;
}

.btnvertical {
  writing-mode: vertical-rl;
}

/* ブロークングリッドテスト */
.test-wrapper {
  background: #eee;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.img-wrapper {
  background: #ccc;
  width: 500px;
  height: 300px;
}

.p-wrapper {
  background: #bbb;
  height: 300px;
}

.p-wrapper500 {
  width: 500px;
}
