table td {
  background: #eeeeee;
  padding: 4px;
}

table tr:ntd-child(odd) td {
  background: #cccccc;
}

.writing-mode {
  background: #ccc;
  width: 1000px;
}

.writing-mode-test {
  background: #aaa;
  width: 1000px;
  writing-mode: vertical-rl;
} 

.btn {
  background: green;
  padding: 10px;
  line-height: 30px;
}

.btnvertical {
  writing-mode: vertical-rl;
}